[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
matplotlib = "*"
jupyter = "*"

[packages]
plotly = "*"
pandas = "*"
dash = "*"
expiringdict = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
